body{
    margin: 0;
    padding: 0;
    background: url(/Users/nondescript/Desktop/Filos.Public/Resources/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway", sans-serif;
    background-attachment: fixed;
    background-position: 50% 50%;
    height: 443px;
}

h1{
    margin: 32px 0px 10px 80px;
    font-weight: 400;
    font-size: 26px;
    
}

input[type="text"],
input[type="password"]{
    display: block;
    box-sizing: border-box;
    margin: 20px 10px 20px 20px;
    padding: 4px;
    width: 220px;
    height: 26px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s ease;
}

input[type="submit"]{
    margin: 0px 0px 15px 60px;
    width: 120px;
    height: 32px;
    background: #cfcfcf;
    border-radius:2px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
    background: #eab103;
    transition: 0.2s ease;
}

#login-box {
    width: 320px;
    height: 443px;
    background: #bfbfbf;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 3%;
}


button.social{
    margin: 0px 0px 10px 30px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;

}
.google{
    margin: 10px 0px 10px 60px;
    width: 120px;
    height: 32px;
    background: #cfcfcf;
    border: none;
    border-radius:2px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: 0.2s ease;
    cursor: pointer;
}

.signinwith {
    margin: 0px 0px 10px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}